<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container">
    <h1 class="display-5 fw-bold">Not Found</h1>
    <p class=" fs-4">
        Please enter the correct ticker symbole" + {{postedStock}}
    </p>
    </div>