<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container">
    <h1 class="display-5 fw-bold">Welcome</h1>
    <p class=" fs-4">
        <b>The easiest way to use financial data</b> <br/>
        It's extremely challenging to find good and clean data for US markets and global markets.
        <br/>
        To find information on a stock's trading day, enter its ticker symbol into the search field.
    </p>
    </div>
</div> 